.trim {
	width: 100%;
	height: 5em;
	overflow: hidden; /* cut content */
	padding: 5px; /* fields */
	text-overflow: ellipsis; /* three dots */
	background: FFFFFF; /* background color */
	position: relative; /* relative positioning */
}

.trim::after {
	content: ''; /* output element */
	position: absolute; /* relative positioning */
	right: 0;
	top: 0; /* element position */
	width: 100%; /* gradient width */
	height: 100%; /* gradient height */
	/* Gradient */
	background: -moz-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: -webkit-linear-gradient(up, rgba(255, 255, 255, 0.0),
		#FFFFFF 100%);
	background: -o-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: -ms-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
}