.trim {
	width: 100%;
	height: 5em;
	overflow: hidden; /* cut content */
	padding: 5px; /* fields */
	text-overflow: ellipsis; /* three dots */
	background: FFFFFF; /* background color */
	position: relative; /* relative positioning */
}

.trim::after {
	content: ''; /* output element */
	position: absolute; /* relative positioning */
	right: 0;
	top: 0; /* element position */
	width: 100%; /* gradient width */
	height: 100%; /* gradient height */
	/* Gradient */
	background: -moz-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: -webkit-linear-gradient(up, rgba(255, 255, 255, 0.0),
		#FFFFFF 100%);
	background: -o-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: -ms-linear-gradient(up, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #FFFFFF
		100%);
}

header {
	background-image: url('../img/logo.jpg')
}

header p {
	
}

body {
	font: 16px Comfortaa;
}

nav {
	overflow: auto; /*как отображаются buttons за краями поля*/
  	width: 100%;
}

nav ul {
	list-style-type: none; /*отключаем маркеры списка*/
	padding: 0;
	margin: 0 auto; /*центрируем buttons*/
	width: 47em; /*ценитрируем buttons*/
}

nav ul li {
	float: left; /*обтекание справа*/
	border-radius: 5px; /*скругление border*/
	border: 1px solid olive; /*border for buttons*/
	background: palegreen;
	margin: 10px;
}

nav ul li a {
	display: block; /*change type buttons*/
	width:150%;
	margin: 5px 10px;
	padding: 0 20px;
	/*font: italic 600 1.2em Time New Roman, serif;*/
	color: darkblue;
	
}